* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

:root {
    --green: #81D398;
    --blue: #736FDF;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: #000;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
}

.unstyled-list {
    list-style: none;
    margin: 0;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.text-center {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.xs-hide {
    display: none;
}

.xs-visible {
    display: block;
}
.hide {
    display: none;
}

/* header */
#header {
    position: relative;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background-color: #7651e2;
    padding: 2rem 0;
}

#header::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 58%;
    left: 0;
    height: 184%;
    background-color: #7843D4;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0% 100%, 0% 0%);
            clip-path: polygon(100% 0, 100% 0%, 0% 100%, 0% 0%)
}

#header .brand {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    z-index: 1000;
}

#header ul {
    padding: 0;
}

#header ul li {
    font-family: 'Montserrat', sans-serif;
    margin-left: 2rem;
    text-transform: capitalize;
}

#header ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

#header ul li a.active {
    color: #fff;
}

#header ul li:hover a {
    color: #fff;
}

#header ul li .support a {
    color: #fff !important;
}

#header ul li .support a:hover {
    color: #000 !important;
}

#header  ul button {
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0 4px 4px hsla(255, 17%, 6%, 0.18);
            box-shadow: 0 4px 4px hsla(255, 17%, 6%, 0.18)
}

#header  ul button a {
    font-weight: 500;
}

#header .toggle-button {
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
}

#header .menu-links{
    /* margin-top: 1rem; */
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    bottom: 0;
    z-index: 99999;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px #ccc;
            box-shadow: 0 4px 4px #ccc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 9999;
    opacity: 0.5;

}

#header .menu-links ul {
    margin-top: 50%;
}

#header .menu-links li a {
    color: #505164;
}

#header .menu-links li a.active {
    color: #505164;
}

#header .menu-links li:hover a {
    color: #505164;
}

#header .menu-links ul {
    padding: 20px 0;
    border-top: 1px solid #fff;
}

#header .menu-links ul li{
    margin: 20px auto;
}

#header .menu-links .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#header .menu-links .close i {
    font-size: 20px;
    color: #505164;
}

#header .sideded {
    position: fixed;
    top: 0;
    left: 0%;
    width: 80%;
    bottom: 0;
    z-index: 99999;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px #ccc;
            box-shadow: 0 4px 4px #ccc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0.9;
}

#header .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
/* header */

/* home */
#home {
    background-color: #721ee8;  
}

#home .container {
    /* padding: 8rem 2rem 2rem */
    padding-top: 6rem;
}

#home h2 {
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#home h2 span {
    color: var(--green)
}

#home form input[type="search"] {
    min-width: 300px;
    height: 45px;
    padding: 0 15px;
    border-radius: 6px;
    border: none;
    font-weight: 400;
    color: #505164;
}

#home form input[type="button"] {
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
}

#home form input[type="search"]::-webkit-input-placeholder {
    color:#9a9cc098;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
/* home */

/* learn-how */
#learn-how {
    position: relative;
    background-color: #736FDF;
    padding: 10px 0;
    /* clip-path: polygon(100% 2%, 100% 35%, 0% 100%, 0% 65%); */
    height: 250px;
    /* margin-top: -248px */
}

#learn-how::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 50%;
    background-color: #7651e2;
    -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 0% 0%);
            clip-path: polygon(100% 0, 100% 0, 0 100%, 0% 0%);
}

#learn-how::after {
    position: absolute;
    content: "";
    bottom: -1px;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 50%;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 0 100%, 100% 100%);
}

#learn-how p {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 7rem;
}

#learn-how button.arrow {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 42px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
            box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
    padding: 0;
    cursor: pointer;
    z-index: 99;
}

#learn-how button i {
    font-size: 1.4rem;
}
/* learn-how */

/* create-your-account */
#create-your-account {
    padding-top: 70px; 
}

#create-your-account p {
    width: 100%;
    margin: 0 auto 2rem;
}

#create-your-account .btn {
    background-color: #736FDF;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#create-your-account .btn:hover {
/*    color: #000;*/
    -webkit-box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
            box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5)
}
/* create-your-account */

/* our-services */
#our-services {
    padding: 50px 0;
}

#our-services h2 {
    position: relative;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    color: #505164;
}

#our-services h2::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    width: 60px;
    height: 2px;
    background-color: #505164;
}

#our-services .all .service-box:first-of-type,
#our-services .all .service-box:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

/* #our-services .all .service-box:first-of-type,
#our-services .all .service-box:nth-of-type(3) {
    margin-right: 1rem
} */

#our-services .service-box{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-flow: row; */
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    border: 1px solid #f4f1f1;
    padding: 20px;
    background-color: #FCFCFD;
    border-radius: 10px;
    z-index: 1000;
}

#our-services .service-box i {
    font-size: 2.5rem;
    margin-top: 19px;
    color: #736fdf;
}

#our-services .service-box .service-info {
    margin-left: 2%;
}

#our-services .service-box h4 {
    color: #505164;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

/* our-services */

/* contact us */
#contact-us {
    position: relative;
    padding-bottom: 50px;
}

#contact-us::after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0;
    left: 0;
    height: 225px;
    background-color: #F6F9FC;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0% 52%);
            clip-path: polygon(100% 0%, 100% 100%, 0 100%, 0% 52%);
}

#contact-us .ready {
    color: #6E67E0;
    font-size: 16px;
    z-index: 1000;
}

#contact-us .ready span {
    color: #664EA0;
    font-size: 18px;
}

#contact-us .action-buttons {
    z-index: 1000;
}

#contact-us .action-buttons .btn:first-of-type {
    background-color: #736FDF;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-right: 15px;
}

#contact-us .action-buttons .btn:first-of-type:hover {
/*   color: #000 !important;*/
   -webkit-box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
            box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
}

#contact-us .action-buttons .btn:nth-of-type(2) {
    background-color: white;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
            box-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
}

#contact-us .action-buttons .btn:nth-of-type(2) a {
    color: #666666;
}

#contact-us .action-buttons .btn:nth-of-type(2) a:hover {
    color: #721ee8;
}
/* contact us */

/* footer */
#footer {
    padding: 90px 0 60px;
    background-color: #736FDF;
    color: white;
}

#footer .all {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

#footer .info {
    padding: 0;
}
#footer  li {
    margin-bottom: 1rem;
}

#footer ul h4 {
    margin-top: 0;
}

#footer .info li i {
    margin-right: 10px;
/*    padding-right: 40px;*/
}

#footer .info li:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#footer .info li:last-of-type i {
    margin-right: 16px;
    margin-top: 3px;
}

#footer ul.social-media li i{
    display: block;
    font-size: 20px;
    color: #5451A3;
}

#footer ul.social-media li:nth-of-type(2) i{
    margin: 2.2rem 0;
}
/* footer */


/* media queries */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .xs-hide {
        display: block;
    }

    .xs-visible {
        display: none;
    }

    #create-your-account p {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .xs-hide {
        display: block;
    }

    #create-your-account p {
        width: 50%;
    }
}

@media (min-width: 1200px) {
.container {
    max-width: 1200px;
    }

    .xs-hide {
        display: block;
    }
}

/* tablet & desktop screen */
@media(max-width: 991px) {

    #our-services .service-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 48%;
                flex: 0 1 48%;
    }

    #our-services .service-box .service-info p{
        font-size: 12px;
    }

    #footer .all{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }

    #footer ul{
        -webkit-box-flex: 0;
            -ms-flex: 0 1 33.3333%;
                flex: 0 1 33.3333%;
        padding: 0;
    }
}

/* mobile & tablet screen*/
@media (max-width: 767px) {

    #header {
        padding: 1rem 0;
    }

    #header::before {
        right: 33%;
        height: 184%;
    }

    #header .nav-links ul {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

            -ms-flex-flow: column nowrap;

                flex-flow: column nowrap
    }

    #header .brand {
        font-size: 18px;
    }

    #home {
        -webkit-clip-path: none;
                clip-path: none;
        height: calc((100vh - 68px));
    }

    #home h2 {
        margin-bottom: 5rem;
    }

    #learn-how {
        height: auto;
        -webkit-clip-path: none;
                clip-path: none;
        padding: 30px 0;
        margin: 0;
    }

    #learn-how::before,
    #learn-how::after {
        display: none
    }

    #learn-how p {
        margin: 0;
        font-size: 12px;
    }

    #learn-how button.arrow {
        bottom: -25px;
    }

    #our-services .service-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
        margin-bottom: 1rem;
    }
    
    #our-services .service-box i {
        font-size: 1.8rem;
    }
    
    #contact-us::after {
        height: 325px;
    }

    #contact-us .all {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
    }

    #contact-us .ready {
        margin-bottom: 2rem;
    }

    #footer {
        padding-bottom:  0;
    }

    #footer .all{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start
    }

    #footer ul{
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        padding: 0;
    }

    #footer ul.social-media  {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #footer ul.social-media li:nth-of-type(2) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* mobile screen */
@media (max-width: 575px) {
    #home h2 {
        font-size: 1.8rem;
    }

    #home form {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #home form input[type="search"] {
        margin-bottom: 1rem;
    }

    #contact-us .action-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap
    }

    #contact-us .action-buttons .btn:first-of-type {
        margin-bottom: 1rem;
    }

    #footer ul{
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
        padding: 0;
        margin-bottom: 1.5rem;
    }
}

/* media queries */